<section>
  

<div class="projects">
  <!-- <button class="create-btn"><a class="create-link" href="/userstories/create">⨠ Créer une user story</a></button> -->

    <h1>Les users stories</h1>
    <% userstories.forEach(userStory => { %>

      <div class="project">
       
        <div class="item-list">
          <h5>Titre</h5>
          <p> <%= userStory.title %> </p>
        </div>
        <div class="item-list">
          <h5>Description</h5>
          <p> <%= userStory.description %> </p></div>
        <div class="item-list">
          <h5>Critère d'acceptation</h5>
          <p> <%= userStory.acceptanceCriteria %> </p>
        </div>
        <div class="item-list">
          <h5>Priorité</h5>
          <p> <%= userStory.priority %> </p>
        </div>

        <div class="item-list">
          <div class="project-btn">
            <a href="/userstories/update/<%=userStory._id%>">Modifier</a>
            <a href="/userstories/delete/<%=userStory._id%>">Supprimer</a>
          </div>
        </div>

      </div>
  
    <% }); %>

  

</div>
</section>