<section>
    <h1>Modifier la user story</h1>

    <form action="/userstories/update" method="POST">
        <input type="hidden" name="_id" value="<%= userStory._id %>"/>
        <div class="form-data">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" value="<%= userStory.title %>">
        </div>
        <div class="form-data">
            <label for="description">Description</label>
            <textarea type="text" rows="1" id="description" name="description"><%= userStory.description %></textarea>
        </div>
        <div class="form-data">
            <label for="acceptanceCriteria">Critière d'acceptation</label>
            <textarea type="text" rows="1" id="acceptanceCriteria" name="acceptanceCriteria"><%= userStory.acceptanceCriteria %></textarea>
        </div>
        <div class="form-data">
            <label for="priority">Priorité</label>
            <input type="number" name="priority" for="priority" min="1" max="5" value="<%= userStory.priority %>">
        </div>
        <input type="hidden" name="projectId" value="<%= userStory.projectId %>"/>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Modifier</button>
        </div>
    </form>
</section>