<section>
    <h1>Modifier la user story</h1>

    <form action="/userstories/update" method="POST">
        <input type="hidden" name="_id" value="<%= userStory._id %>"/>
        <div class="form-data">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" value="<%= userStory.title %>">
        </div>
        <div class="form-data">
            <label for="description">Description</label>
            <textarea type="text" rows="1" id="description" name="description"><%= userStory.description %></textarea>
        </div>
        <div class="form-data">
            <label for="acceptanceCriteria">Critière d'acceptation</label>
            <textarea type="text" rows="1" id="acceptanceCriteria" name="acceptanceCriteria"><%= userStory.acceptanceCriteria %></textarea>
        </div>
        <div class="form-data">
            <label for="priority">Priorité</label>
            <select name="priority" id="priority" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <input type="hidden" name="projectId" value="<%= userStory.projectId %>"/>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Modifier</button>
        </div>
    </form>
</section>