<section>
    <h1>Modifier le bug</h1>

    <form action="/userstories/update" method="POST">
        <input type="hidden" name="_id" value="<%= bug._id %>"/>
        <div class="form-data">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" value="<%= bug.title %>">
        </div>
        <div class="form-data">
            <label for="reproSteps">Repro Steps</label>
            <textarea type="text" rows="1" id="reproSteps" name="reproSteps"><%= bug.reproSteps %></textarea>
        </div>
        <div class="form-data">
            <label for="priority">Priorité</label>
            <input type="number" name="priority" for="priority" min="1" max="5" value="<%= bug.priority %>">
        </div>
        <input type="hidden" name="projectId" value="<%= bug.projectId %>"/>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Modifier</button>
        </div>
    </form>
</section>