<section>
  <h1>Accueil des projets</h1>

<div class="projects">
  <button class="create-btn"><a class="create-link" href="/projects/create">⨠ Créer un projet</a></button>
  
    <% projects.forEach(project => { %>
      <div class="project-card">
      <div class="project">
       
          <div class="item-list">
            <h5>Nom</h5>
            <p> <%= project.name %> </p>
          </div>
          <div class="item-list">
              <h5>Description</h5>
              <p> <%= project.description %> </p>
          </div>
  
        
        <div class="item-list">
          <div class="project-btn">
            <a href="/projects/update/<%=project._id%>"><img src="edit_white_24dp.svg" alt="edit"></a>
            <a href="/projects/delete/<%=project._id%>"><img src="delete_white_24dp.svg" alt="delete"></a>
          </div>
        </div>
      </div>
      
      <div class="create-btn_section">
        <button class="create-btn"><a class="create-link" href="/userstories/create/<%=project._id%>">⨠ Créer une user story</a></button>
        <button class="create-btn"><a class="create-link" href="/userstories/<%=project._id%>">⨠ Voir les user stories</a></button>
      </div>
    </div>
  </div>
    <% }); %>

</div>
</section>